# Global
.*.swp
.DS_Store

# Application
app/app/composer.json
app/app/composer.lock
app/app/vendor/
app/app/doc/
app/app/report/
data/

# PHPStorm
.idea

# Netbeans
nbproject/
/nbproject/
/nbproject/private/
/nbproject/private/private.properties

# VSCode
.vscode/

# SSL Certs
etc/ssl/
